# Root folder for tests
export ANTA_ROOT_FOLDER=./network-tests

# Default ANTA credentials
export ANTA_USERNAME=ansible
export ANTA_PASSWORD=ansible
export ANTA_ENABLE=false

# NRFU configuration
export ANTA_CATALOG=${ANTA_ROOT_FOLDER}/test_atd.yml
export ANTA_INVENTORY=${ANTA_ROOT_FOLDER}/inventory.yml

# Snapshot configuration
export ANTA_SNAPSHOT=$(date +%Y-%m-%d-%Hh-%Mmin)-snapshots
export ANTA_EXEC_SNAPSHOT_OUTPUT_DIRECTORY=${ANTA_ROOT_FOLDER}/${ANTA_SNAPSHOT}%